.adzuna-container {
    font-family: 'Roboto Mono', monospace;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 40px auto;
}

.adzuna-title {
    color: #333;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Arvo', serif;
}

.adzuna-input-card {
    background-color: #ffffff;
    padding: 15px; 
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 80px auto; /* Centered horizontally and given space at the bottom */
    width: 50%; /* Adjust this percentage to make it smaller or larger as desired */
}

.adzuna-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0; /* Reduced to 0 for the sides */
    border: 1px solid #ccc;
    border-radius: 15px;
}

.adzuna-button {
    background-color: #b30000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    transition: background-color 0.3s, transform 0.3s;
}

.adzuna-button:hover {
    background-color: #ff1a1a;
    transform: scale(1.05);
}

.adzuna-job-list-header {
    color: #333;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.adzuna-job-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.adzuna-job-item {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.adzuna-job-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(26, 255, 26, 0.3), 0 0 20px rgba(26, 255, 26, 0.2); /* Green glow effect */
}
.adzuna-job-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #17f37a;
    font-family: 'Arvo', serif;
}

.adzuna-job-description {
    flex-grow: 1; 
    margin-bottom: 15px;
    color: #bbb; 
    font-family: 'Roboto Mono', monospace; 
}
.adzuna-job-link {
    align-self: center;
    color: #ffffff;  /* White text for contrast */
    background-color: #4CAF50;  /* Green background for the link */
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto Mono' monospace;
}

.adzuna-job-link:hover {
    background-color: #388E3C;  /* Darker shade of green on hover */
    color: #ffffff;
}